/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09 1, 16, 12:34:04 PM
    Author     : johnenrick
*/

.moduleGroupScheduleRow .btn-default.focus.active {
    background-color: #ccc!important;
}
.moduleGroupScheduleRow .btn-default.focus {
    background-color: #fff!important;
}